{% extends "layout.html" %}

{% block content %}
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Flask-Dash Web Application</h1>
        <p class="lead">In the data sphere the goal is to move data from disparate
            sources to an application where users can leverage the results. In
            line with this goal, I developed web application built on Plotly Dash
            to demonstrate how the output of a machine learning project can be
            served as a interactive web application.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
